1. What is the difference between a function and a method in Python?
-  Function: A block of reusable code that performs a specific task. Defined using def

   where, Method: A function that is associated with an object usually called on objects of a class.

   Examples are:-

In [2]:
def greet(name):
    return f"Hello, {name}"

In [8]:
greet("Azhadul")

'Hello, Azhadul'

In [9]:
name = "Alice"
name.upper()

'ALICE'

2. Explain the concept of function arguments and parameters in Python.
-  Parameters: Variables listed in the function definition.

Arguments: Values passed to the function when calling it

In [10]:
def add(x, y):  #x, y are parameters
    return x + y

add(2, 3)  #2, 3 are arguments

5

3. What are the different ways to define and call a function in Python?
-  Different ways to define are using def or lambda

   cell a function in python by using the function name followed by parenthesess and arguments

In [11]:
def greet(name):
    print(f"Hi {name}!")

greet("John")  #Function call

#Lambda
square = lambda x: x * x
square(4)

Hi John!

16

4. What is the purpose of the return statement in a Python function?
-  Sends a result back to the caller and exits the function.

In [15]:
def multiply(a, b):
    return a * b
multiply(2, 3)

6

5. What are iterators in Python and how do they differ from iterables?
-  Iterable: An object capable of returning its members one at a time e.g., list, string.
  Iterator: An object with a next() method that returns the next value.

In [16]:
nums = [1, 2, 3]  #Iterable
it = iter(nums)   #Iterator
next(it)

1

6. Explain the concept of generators in Python and how they are defined.
-  A generator is a function that yields values using the yield keyword instead of return.

  used to produce a sequence without storing all values in memory

In [21]:
def countdown(n):
    while n > 0:
        yield n
        n -= 1

7. What are the advantages of using generators over regular functions?
-  The advantages of using generators are

(i)Memory-efficient: Generates values on the fly.

(ii)Lazy evaluation: Values are produced only when needed.

(iii)
Clean code: Simpler syntax for iterator logic.

8. What is a lambda function in Python and when is it typically used?
-  A small anonymous function defined using lambda.
 used for short functions passed tofunctions like map() , filter()

In [22]:
add = lambda x, y: x + y
add(2, 3)  # 5

5

9. Explain the purpose and usage of the map() function in Python.
-  Applies a function to all items in an iterable.

In [25]:
nums = [1, 2, 3]
squares = list(map(lambda x: x**2, nums))  # [1, 4, 9]

print(squares)

[1, 4, 9]

10. What is the difference between `map()`, `reduce()`, and `filter()` functions in Python?
- map() Applies a function to every item.
  
  reduce() Reduces to a single value by applying function cumulatively.
  
  filter() Reduces to a single value by applying function cumulatively.

In [26]:
nums = [1, 2, 3]
result = list(map(lambda x: x * 2, nums))
print(result)

[2, 4, 6]

In [27]:
nums = [1, 2, 3, 4]
result = list(filter(lambda x: x % 2 == 0, nums))
print(result)

[2, 4]

In [28]:
from functools import reduce
nums = [1, 2, 3, 4]
result = reduce(lambda x, y: x + y, nums)
print(result)

10

11. Using pen & Paper write the internal mechanism for sum operation using  reduce function on this given  list:[47,11,42,13];
- To fulfill your request for a pen & paper explanation of the internal mechanism of the reduce() function

![images.jpg]()

In [29]:
from functools import reduce
reduce(lambda x, y: x + y, [47, 11, 42, 13])

113

***Practical Questions:***

 1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [36]:
def sum_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

print(sum_even_numbers([1, 2, 3, 4, 5, 6]))

12

 2. Create a Python function that accepts a string and returns the reverse of that string.

In [37]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

 3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [38]:
def square_list(numbers):
    return [num ** 2 for num in numbers]

print(square_list([1, 2, 3]))

[1, 4, 9]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [39]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

primes = [n for n in range(1, 201) if is_prime(n)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

 5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [40]:
class Fibonacci:
    def __init__(self, max_terms):
        self.max_terms = max_terms
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.max_terms:
            raise StopIteration
        value = self.a
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return value

for num in Fibonacci(10):
    print(num, end=' ')

0 1 1 2 3 5 8 13 21 34

 6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [41]:
def powers_of_two(n):
    for i in range(n + 1):
        yield 2 ** i

# Example:
for val in powers_of_two(5):
    print(val)

1
2
4
8
16
32

 7. Implement a generator function that reads a file line by line and yields each line as a string.

In [45]:
def read_file_lines(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [46]:
tuples = [(1, 3), (2, 1), (4, 2)]
sorted_tuples = sorted(tuples, key=lambda x: x[1])
print(sorted_tuples)

[(2, 1), (4, 2), (1, 3)]

9. Write a Python program that uses map() to convert a list of temperatures from Celsius to Fahrenheit.

In [47]:
celsius = [0, 10, 20, 30]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)  # Output: [32.0, 50.0, 68.0, 86.0]

[32.0, 50.0, 68.0, 86.0]

 10. Create a Python program that uses filter() to remove all the vowels from a given string.

In [48]:
def remove_vowels(s):
    return ''.join(filter(lambda x: x.lower() not in 'aeiou', s))

# Example:
print(remove_vowels("Hello World"))

Hll Wrld

 11. Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

In [54]:
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]


final_orders = list(map(
    lambda order: (
        order[0],
        round(order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0), 2)
    ),
    orders
))

print(final_orders)

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]